@import url("https://fonts.googleapis.com/css?family=Oswald:500");

* {
  box-sizing: 0;
  margin: 0;
  padding: 0;
}

body {
  background-color: #253041;
  font-family: "Oswald", sans-serif;
  color: #d7ccbb;
  font-size: 1rem;
}
